<!-- <html>

<head>
    <title>Node-Express-Mongo boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
</head>

<body>
    <h1>Welcome!</h1>
    <form action="/post" method="POST" id="testForm">
      <input placeholder="creditCard" name="creditCard" id="creditCard"</input>
      <input placeholder="name" name="name" id="name"></input>
      <button type="submit">Submit</button>
    </form>
</body>
</html> -->
