<html>

<head>
    <title>Node-Express-Mongo boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
</head>

<body>
    <h1>Welcome!</h1>
    <span>Here is where your app lives. <button id="greeting">Say hi!</button> </span>
</body>
</html>
